HD20160311                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
DT201603091231231321   101952  000002501 이소은                                                                                              04092 서울 마포구 신수로 15                                                                               (현석동)                                                                                                                                                                                                0544353752     01063641332 0000000000000000              1152201603090     0                                                 HANWHAWM     008106222******4025953000001                                                         Y
TR00000000001                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
